Generate Instagram Content from Top Trends with AI Image Generation.json
{
  "name": "Generate Instagram Content from Top Trends with AI Image Generation",
  "nodes": [
    {
      "parameters": {
        "content": "# https://github.com/REDOANUZZAMAN",
        "height": 80,
        "width": 688,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        23952,
        7952
      ],
      "typeVersion": 1,
      "id": "414eaa7c-6930-43f5-85e0-8a5ca623cb9e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0304efee-33b2-499e-bad1-9238c1fc2999",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED"
            }
          ]
        },
        "options": {}
      },
      "id": "4c9691e7-8942-4d85-b2fb-f05d63b211c2",
      "name": "If media status is finished",
      "type": "n8n-nodes-base.if",
      "position": [
        27312,
        8432
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0304efee-33b2-499e-bad1-9238c1fc2999",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "PUBLISHED"
            }
          ]
        },
        "options": {}
      },
      "id": "6574bdf2-2ed5-40c1-a147-f698f96be876",
      "name": "If media status is finished1",
      "type": "n8n-nodes-base.if",
      "position": [
        27888,
        8432
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Params').item.json.telegram_chat_id }}",
        "text": "Video upload edilmeden önce bir problem oldu",
        "additionalFields": {}
      },
      "id": "ceceb94f-d28d-4ce8-b4a8-e84e68c045ec",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        27472,
        8624
      ],
      "typeVersion": 1.2,
      "webhookId": "64f5fcd2-c20a-43a5-8720-3fa916559f7a"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Params').item.json.telegram_chat_id }}",
        "text": "Instagram Content is shared",
        "additionalFields": {}
      },
      "id": "f175093d-f150-4f8c-9b40-15fdb63d2d73",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        28048,
        8272
      ],
      "typeVersion": 1.2,
      "webhookId": "f71271f8-3df5-4a7e-a214-d0788c7394ca"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Params').item.json.telegram_chat_id }}",
        "text": "There was a problem when execution a upload content to instagram",
        "additionalFields": {}
      },
      "id": "f90bbd34-2db0-413a-9d05-471f3d7a0920",
      "name": "Telegram2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        28048,
        8624
      ],
      "typeVersion": 1.2,
      "webhookId": "4a446acf-1a4b-407b-86f9-9f9c82b04e13"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "458aece7-cb08-41f0-b098-e07b28494d10",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        24896,
        8400
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 13,19 * * *"
            }
          ]
        }
      },
      "id": "3ffa8f8a-6041-4937-a1dc-4b39b231f67c",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        22816,
        8480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d18cdca7-d301-4c70-a4d0-8d6e7ecfc2d1",
              "name": "telegram_chat_id",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "04c148a6-2fba-4b65-98ae-aa1d112b7f2e",
      "name": "Telegram Params",
      "type": "n8n-nodes-base.set",
      "position": [
        23568,
        8480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e380c14-e908-4eeb-90e0-957a422829d0",
              "name": "instagram_business_account_id",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "64784a0d-f48a-4dc7-874c-2bb86b8329bc",
      "name": "Instagram params",
      "type": "n8n-nodes-base.set",
      "position": [
        23328,
        8480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## All Credentials You Need\n** Instagram Business Account Id\n** Telegram Chat Id\n** Rapid Api Key\n** Replicate Token",
        "height": 600,
        "width": 1000,
        "color": 4
      },
      "id": "574c755d-ac0d-411a-8d54-ff2e6ba7dcf9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        23024,
        8192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48a33ec7-2b4f-496a-ad77-e4d5f1907ee4",
              "name": "x-rapid-api-key",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "3a631b2f-415b-4b0a-8f0a-59e2f0c90446",
      "name": "Rapid Api params",
      "type": "n8n-nodes-base.set",
      "position": [
        23808,
        8480
      ],
      "notesInFlow": false,
      "typeVersion": 3.4,
      "notes": "test"
    },
    {
      "parameters": {
        "jsCode": "const filteredData = $input.first().json.data.items.filter(item=> !item.is_video)\nreturn filteredData.map((item)=>{\n return {\n id: item.id,\n prompt: item.caption.text,\n content_code: item.code,\n thumbnail_url: item.thumbnail_url,\n tag: $input.first().json.data.additional_data.name\n }\n}) \n\n"
      },
      "id": "215928fb-841d-4650-9ab3-5c320d1343a8",
      "name": "filter the image content",
      "type": "n8n-nodes-base.code",
      "position": [
        24416,
        8560
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://instagram-scraper-api2.p.rapidapi.com/v1/hashtag",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hashtag",
              "value": "blender3d"
            },
            {
              "name": "feed_type",
              "value": "top"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "instagram-scraper-api2.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $json['x-rapid-api-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11ba0d87-b4cf-4ae9-b778-be1fa9cf829d",
      "name": "get top trends on instagram #blender3d",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        24176,
        8352
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "https://instagram-scraper-api2.p.rapidapi.com/v1/hashtag",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hashtag",
              "value": "isometric"
            },
            {
              "name": "feed_type",
              "value": "top"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "instagram-scraper-api2.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $json['x-rapid-api-key'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1a13e7b-5e85-4c8f-b558-340f1d95aef8",
      "name": "get top trends on instagram #isometric",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        24176,
        8560
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {},
      "id": "2984d0c0-d08e-4fd9-ae91-aca12ae144dd",
      "name": "merge the array content",
      "type": "n8n-nodes-base.merge",
      "position": [
        24608,
        8464
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## Schedule Your Time To Post\n",
        "height": 600,
        "width": 280,
        "color": 3
      },
      "id": "16107870-f992-4e17-a688-dcfc5591e4cf",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        22704,
        8192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Guide \n** [Guide](https://docs.matillion.com/metl/docs/6957316//) of getting of Instagram Business Account Id ",
        "height": 300,
        "width": 180,
        "color": 5
      },
      "id": "5ceb1e1f-44d2-40f7-9a1f-97cccf375c59",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        23296,
        8336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Guide \n** [Guide](https://rapidapi.com/i-yqerddkq0t/api/telegram92/tutorials/how-to-get-the-id-of-a-telegram-channel,-chat,-user-or-bot%3F) of Getting of Telegram Chat Id ",
        "height": 300,
        "width": 180,
        "color": 5
      },
      "id": "7772e54e-001f-444d-a65a-2b43aab26910",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        23536,
        8336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Guide \n** [Guide](https://docs.rapidapi.com/docs/keys-and-key-rotation) of Getting of Rapid Api Key ",
        "height": 300,
        "width": 180,
        "color": 5
      },
      "id": "1e47ec4a-3594-418d-ade1-c7236e8c2931",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        23776,
        8336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Warning\n**Don't forgot the create bot and send a message to bot first",
        "height": 120,
        "width": 180,
        "color": 7
      },
      "id": "93ad13f8-af67-4038-a69f-d7c2203dff2d",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        23536,
        8656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Getting Top Trend Posts On Instagram\n** Change the topic you want to get on http request",
        "height": 600,
        "width": 660
      },
      "id": "aea77777-79a7-4fea-b51d-6aaeeb16cd1a",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        24064,
        8192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "top_trends",
          "cachedResultName": "top_trends"
        },
        "where": {
          "values": [
            {
              "column": "code",
              "value": "={{$json.content_code}}"
            }
          ]
        },
        "options": {}
      },
      "id": "7f0f5522-1e27-4819-8ba7-f6bea97989d0",
      "name": "Check Data on Database Is Exist",
      "type": "n8n-nodes-base.postgres",
      "position": [
        25136,
        8400
      ],
      "typeVersion": 2.5,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9dc20983-ae4d-40db-b969-7d43fa8b0c3e",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ !$json.isEmpty() }}",
              "rightValue": "we"
            },
            {
              "id": "0e1b9264-be56-4d0c-a83e-d9ca0b05b265",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "1a72a1c5-4b75-4a1b-b84e-4237249052ba",
      "name": "If Data is Exist",
      "type": "n8n-nodes-base.if",
      "position": [
        25344,
        8416
      ],
      "executeOnce": false,
      "typeVersion": 2.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Looping Data And Checking For Is Exist On Database\n**We are checking until find a data we did not insert because we don't want to create content about in same content",
        "height": 600,
        "width": 1060
      },
      "id": "e3869189-a19d-4afd-b0bb-bcc5691babc9",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        24768,
        8192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Params').item.json.telegram_chat_id}}",
        "text": "There was a problem execution a postgresql content",
        "additionalFields": {}
      },
      "id": "990bb6ea-9816-4c74-8504-67b898e4cc24",
      "name": "send error message to telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        24896,
        8624
      ],
      "typeVersion": 1.2,
      "webhookId": "6796b14e-af40-469b-b7c0-df3744fb494a"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "top_trends",
          "cachedResultName": "top_trends"
        },
        "columns": {
          "value": {
            "tag": "={{$('Loop Over Items').item.json.tag}}",
            "code": "={{$('Loop Over Items').item.json.content_code}}",
            "prompt": "={{$('Loop Over Items').item.json.prompt}}",
            "isposted": false,
            "thumbnail_url": "={{$('Loop Over Items').item.json.thumbnail_url}}"
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "prompt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "isposted",
              "type": "boolean",
              "display": true,
              "required": false,
              "displayName": "isposted",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "createdat",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "createdat",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "updatedat",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "updatedat",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "deletedat",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "deletedat",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "code",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "code",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "tag",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "tag",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "thumbnail_url",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "thumbnail_url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f0b5e5ca-a6b4-401b-88a7-f8d2cda61d40",
      "name": "insert data on db",
      "type": "n8n-nodes-base.postgres",
      "position": [
        25632,
        8416
      ],
      "typeVersion": 2.5
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Create a clear and concise description of the object in the image, focusing on its physical and general features. Avoid detailed environmental aspects like background, lighting, or colors. Describe the shape, texture, size, and any unique characteristics of the object. Mention any notable features that make the object stand out, such as its surface details, materials, and design. The description should be focused on the object itself, not its surroundings.\n\nFor example, describe the following image:\n",
        "imageUrls": "={{ $('Loop Over Items').item.json.thumbnail_url }}",
        "options": {}
      },
      "id": "3a1c2bce-2f8e-4e32-ba8c-6234189281a4",
      "name": "Analyze Image and give the content",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        25968,
        8416
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=\nSummarize the following content description into a short, engaging Instagram caption under 150 words. The caption should focus on the content of the image, not the app. Keep it appealing to social media users, and highlight the visual details of the image. Include hashtags relevant to 3D modeling and design, such as #Blender3D, #3DArt, #DigitalArt, #3DModeling, and #ArtCommunity. Ensure the tone is friendly and inviting.\n\n\nContent description to summarize:\n{{ $json.content }}\n\nMake sure to craft the caption around the content's features, such as the color contrast, reflective surface, and artistic nature of the image.\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "e1fe0657-ca81-4a64-84ac-6849b24d8f8a",
      "name": "Analyze Content And Generate Instagram Caption",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        26176,
        8416
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $('Instagram params').item.json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.output[0] }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Analyze Content And Generate Instagram Caption').item.json.message.content }}"
              }
            ]
          }
        }
      },
      "id": "9630f1f0-9f67-4e2d-b767-6c08484ef94c",
      "name": "Prepare data on Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        26864,
        8432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "={{ $json.id }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "id"
              },
              {
                "name": "status"
              },
              {
                "name": "status_code"
              }
            ]
          }
        }
      },
      "id": "6056a97a-78a7-4ed8-a2fe-ffac252a64e5",
      "name": "Check Status Of Media Before Uploaded",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        27088,
        8432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $('Instagram params').item.json.instagram_business_account_id }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "d4c144d7-9aed-439b-b00f-a1d233f5c670",
      "name": "Publish Media on Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        27488,
        8272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "={{ $('Check Status Of Media Before Uploaded').item.json.id }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "id"
              },
              {
                "name": "status"
              },
              {
                "name": "status_code"
              }
            ]
          }
        }
      },
      "id": "958bd741-71ec-481e-a25e-d4a78920ee50",
      "name": "Check status of post ",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        27696,
        8432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Publish On Instagram And Send Message When Published via Telegram\n",
        "height": 600,
        "width": 1580,
        "color": 5
      },
      "id": "714f64db-48c1-4781-8b9d-4907d190465e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        26768,
        8192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const filteredData = $input.first().json.data.items.filter(item=> !item.is_video)\nreturn filteredData.map((item)=>{\n return {\n id: item.id,\n prompt: item.caption.text,\n content_code: item.code,\n thumbnail_url: item.thumbnail_url,\n tag: $input.first().json.data.additional_data.name\n }\n}) \n\n"
      },
      "id": "1af89a79-e94f-41d1-aee9-635399001c3b",
      "name": "filter the image content-2",
      "type": "n8n-nodes-base.code",
      "position": [
        24416,
        8352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Guide \n** [Guide](https://replicate.com) of getting of Replicate Token ",
        "height": 300,
        "width": 180,
        "color": 5
      },
      "id": "81aed556-1494-4394-8027-eb7f2371c7f2",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        23072,
        8336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e380c14-e908-4eeb-90e0-957a422829d0",
              "name": "replicate_token",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "39ef539f-715d-449c-ba92-668264a48c45",
      "name": "Replicate params",
      "type": "n8n-nodes-base.set",
      "position": [
        23104,
        8480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/black-forest-labs/flux-schnell/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Replicate params').item.json.replicate_token}}"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n \"input\": {\n \"prompt\": \"A highly detailed 3D isometric model of {{$('Analyze Image and give the content').item.json.content .replace(/\\\\n/g, ' ') \n.replace(/\\\\t/g, ' ') \n.replace(/\\s+/g, ' ')\n.trim(); }} rendered in a stylized miniature toy aesthetic. Materials: Matte plastic/painted metal/weathered stone texture with no self-shadowing. Lighting: - Completely shadowless rendering - Ultra bright and perfectly even illumination from all angles - Pure ambient lighting without directional shadows - Flat, consistent lighting across all surfaces - No ambient occlusion. Style specifications: - Clean, defined edges and surfaces - Slightly exaggerated proportions - Miniature/toy-like scale - Subtle wear and texturing - Rich color palette with muted tones - Isometric 3/4 view angle - Crisp details and micro-elements. Technical details: - 4K resolution - PBR materials without shadows - No depth of field - High-quality anti-aliasing - Perfect uniform lighting. Environment: Pure white background with zero shadows or gradients. Post-processing: High key lighting, maximum brightness, shadow removal.\",\n \"output_format\": \"jpg\",\n \"output_quality\": 100,\n \"go_fast\":false\n }\n}\n",
        "options": {}
      },
      "id": "496b4ff4-0422-47aa-81c7-8cb27ffbd956",
      "name": "Generate image on flux",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        26576,
        8432
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## For top_trends Table\n```\nCREATE TABLE top_trends (\n id SERIAL PRIMARY KEY,\n isposted BOOLEAN DEFAULT false,\n createdat TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n updatedat TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n deletedat TIMESTAMP WITHOUT TIME ZONE,\n prompt TEXT NOT NULL,\n thumbnail_url TEXT,\n code TEXT,\n tag TEXT\n);\n```",
        "height": 320,
        "width": 1060,
        "color": 4
      },
      "id": "7e08cc78-3832-4e52-a40c-e9e69691557e",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        24768,
        7840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Warning\n** Don't forgot the create top_trends table",
        "height": 120,
        "width": 160,
        "color": 3
      },
      "id": "d79d70af-adda-41c1-a010-7cdcec37e78c",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        25232,
        8064
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n## Automated Instagram Content Creation from Trending Posts\n\nThis workflow automates the process of discovering and recreating trending content on Instagram:\n\n1. Content Discovery:\n - Scrapes top trending posts from specific hashtags (#blender3d, #isometric)\n - Filters for image-only content (excludes videos)\n - Checks database to avoid duplicate content\n\n2. AI-Powered Content Generation:\n - Analyzes trending images using GPT-4 Vision\n - Generates detailed descriptions of visual elements\n - Creates engaging Instagram captions with relevant hashtags\n - Uses Flux AI to generate similar but unique images\n\n3. Publishing & Monitoring:\n - Automatically posts content to Instagram Business Account\n - Monitors post status and publishing process\n - Sends status updates via Telegram\n\nPerfect for content creators and businesses looking to maintain an active Instagram presence with AI-generated content inspired by current trends. The workflow runs on schedule and handles everything from content discovery to publication automatically.\n\nNote: Requires Instagram Business Account, Telegram Bot, OpenAI, and Replicate API credentials.",
        "height": 840,
        "width": 620
      },
      "id": "9937cadf-5283-4e3c-b3e3-6e71946f1cec",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        22704,
        7232
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "##Warning\n** Dont forgot the subscribe [Instagram Scraper Api](https://rapidapi.com/social-api1-instagram/api/instagram-scraper-api2/playground/apiendpoint_a45552b2-9850-4da9-b5cb-bbdd3ac2199d)",
        "height": 120,
        "width": 180,
        "color": 7
      },
      "id": "2e3e3dc8-c0ca-4da9-8465-e2da7b75b882",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        23776,
        8656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Warning\n** You can check the [rate limit](https://rapidapi.com/social-api1-instagram/api/instagram-scraper-api2) of the Instagram Scraper Api on Rapid Api\n** Free version is monthly 500 request\n",
        "height": 180,
        "width": 180
      },
      "id": "099dfdb2-70bb-417c-af5e-3765c0d74258",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        23776,
        8816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Analyze Post Content\n** We are analyzing the image\n** We are generating a instagram caption by content\n** Then we are generating the image",
        "height": 600,
        "width": 860,
        "color": 4
      },
      "id": "c2d5a856-563a-4c31-a739-1d78da0b9b90",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        25872,
        8192
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check Data on Database Is Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Params": {
      "main": [
        [
          {
            "node": "Rapid Api params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Data is Exist": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insert data on db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram params": {
      "main": [
        [
          {
            "node": "Telegram Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rapid Api params": {
      "main": [
        [
          {
            "node": "get top trends on instagram #isometric",
            "type": "main",
            "index": 0
          },
          {
            "node": "get top trends on instagram #blender3d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replicate params": {
      "main": [
        [
          {
            "node": "Instagram params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Replicate params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert data on db": {
      "main": [
        [
          {
            "node": "Analyze Image and give the content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check status of post ": {
      "main": [
        [
          {
            "node": "If media status is finished1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate image on flux": {
      "main": [
        [
          {
            "node": "Prepare data on Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge the array content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter the image content": {
      "main": [
        [
          {
            "node": "merge the array content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare data on Instagram": {
      "main": [
        [
          {
            "node": "Check Status Of Media Before Uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Media on Instagram": {
      "main": [
        [
          {
            "node": "Check status of post ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter the image content-2": {
      "main": [
        [
          {
            "node": "merge the array content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If media status is finished": {
      "main": [
        [
          {
            "node": "Publish Media on Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If media status is finished1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Data on Database Is Exist": {
      "main": [
        [
          {
            "node": "If Data is Exist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send error message to telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image and give the content": {
      "main": [
        [
          {
            "node": "Analyze Content And Generate Instagram Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Of Media Before Uploaded": {
      "main": [
        [
          {
            "node": "If media status is finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get top trends on instagram #isometric": {
      "main": [
        [
          {
            "node": "filter the image content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get top trends on instagram #blender3d": {
      "main": [
        [
          {
            "node": "filter the image content-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Content And Generate Instagram Caption": {
      "main": [
        [
          {
            "node": "Generate image on flux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "91e4c1b1-56ae-4eef-b7bd-5f2f558bb616",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ea5ee65f04b27a744235742229cd33fb9bc1c1a8cd25b6ec8329b2619003115"
  },
  "id": "aABkxEso7UJYqtFW",
  "tags": [
    {
      "createdAt": "2025-10-16T16:21:37.376Z",
      "updatedAt": "2025-10-16T16:21:37.376Z",
      "id": "sB8amNfmY6vlm7UO",
      "name": "AI"
    }
  ]
}